#me{
  height: 200px!important;
   width: 150px!important; 
  object-fit: cover;
}
#port{
  height: 200px!important;
   /* width: 150px!important; */
}

#label {
  color: blanchedalmond!important;
  
}
