
#me{
    height: 200px!important;
     width: 150px!important; 
    object-fit: cover;
}
#port{
    height: 200px!important;
     /* width: 150px!important; */
}

#label {
    color: blanchedalmond!important;
    
}
#body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9hMG9rrHeiQFLH49DWtWoPe978c4nllJ1S7joIs1DgMdHo6fy');
 
        /* background-image: "../src/photo/resback.png"!important;  */
        background-repeat: no-repeat;  
        background-size: 100% 150%!important;
        color:black!important;
        background-color: transparent!important;
   }
   #footbox{
       color: black;
   }
