
/* [class^=col]{     border:dotted red; } */
/* [class^=row]{    border:dashed green ;} */
 /* #nav{       border:solid black;}  */
/* [class^="container"]{     border:dotted black;   } */
/* #name{    padding: 15px 16px 15px 16px;    background-color: #eeeeee;} */
/* [class^=col-md]{ */
/* border:dotted red;  */
/* } */
/* img{
    height: 200px!important;
     width: 150px!important; 
    object-fit: cover;
} */
#me{
    height: 200px!important;
     width: 150px!important; 
    object-fit: cover;
}
#port{
    height: 200px!important;
     /* width: 150px!important; */
}

#label {
    color: blanchedalmond!important;
    
}
#body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9hMG9rrHeiQFLH49DWtWoPe978c4nllJ1S7joIs1DgMdHo6fy');
 
        /* background-image: "resback.png"; */
        background-repeat: no-repeat;  
        background-size: 100% 150%;
        color:black!important;
        background-color: transparent!important;
   }
